<div class="container">
  <div class="row fixed-bottom footer">
    <div class="col-4">
      <h4>
        <u>Contact Info</u>
      </h4>
      <p>nsxiii559@gmail.com</p>
      <a href="#">My Facebook</a>
      <a href="#">My Twitter</a>
    </div>
    <div class="col-4">
      <h4>
        <u>Skills</u>
      </h4>
    </div>
    <div class="col-4">
      <h4>
        <u>Other Developers for hire</u>
      </h4>
      <a href="#">friend1</a>
      <a href="#">friend2</a>
      <a href="#">friend3</a>
      <a href="#">friend4</a>
    </div>
  </div>
</div>