<div class="bio">
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-2">
        <img src="../../assets/profile.jpg" alt="Waait for ma face yo!">
      </div>
      <div class="col-6">
        <h3>Hello World!</h3>
        <p>
          My Name is Nathan Silva and I am a Professional Web & Mobile
          Software Developer. My skills range from HTML, scss, and Javascript
          to angular 6 and wordpress. My skills are continuing to develop with every task I take.
          
          I understand the need for good User Experience and Interface, I work well in groups and
          adapt well to any situation you put me in. I have so much to offer, lets do business!
        </p>
        <button class="btn btn-outline-danger btn-lg">
          Contact Me
        </button>
      </div>
    </div>
  </div>
</div>