<nav class="container-fluid">
  <div class="row">
    <div class="col-3">
      <h3>
        Nathan Silva
      </h3>
    </div>
    <div class="col-1 offset-6">
      <a href="https://www.facebook.com/nathan.silva.1291421" class="fab fa-facebook fa-2x"></a>
    </div>
    <div class="col-1">
      <a href="https://twitter.com/Natemysilva" class="fab fa-twitter fa-2x"></a>
    </div>
    <div class="col-1">
      <a href="https://www.instagram.com/nay.9907" class="fab fa-instagram fa-2x"></a>
    </div>
  </div>
</nav>
<div class="header-bg">
  <div class="container">
    <div class="row">
      <div class="col-6 offset-3">
        <h2 class="text-center">
          My name is Nathan Silva and welcome to my online portfolio!
        </h2>
      </div>
    </div>
  </div>
</div>