<nav class="container-fluid">
  <div class="row fixed-top upNav">
    <div class="col-3">
      <p class="name">
        <b>Nathan Silva</b>
      </p>
    </div>
    <div class="col-1 nav">
      <a href="#home">Home</a>
    </div>
    <div class="col-1 nav">
      <a href="#bio">About Me</a>
    </div>
    <div class="col-1 nav">
        <a href="#thumbnail">Projects</a>
      </div>
    <div class="col-1 nav">
      <a href="#skill">Skills</a>
    </div>
  </div>
</nav>
<div class="header-bg">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <p id="home" class="text-center welcome">
          Welcome to my portfolio!
        </p>
      </div>
    </div>
  </div>
</div>