
  <!-- header -->
  <nav class="nav fixed-top bg-light">
    <div class="container-fluid">
      <div class="row">
        <div class="col-3">
          <h3>Nathan Silva</h3>
        </div>
        <!-- icons, Facebook, twitter, instagram -->
        <div class="col-1 offset-6">
          <a href="https://www.facebook.com/nathan.silva.1291421"><i class="fab fa-facebook-square fa-2x"></i></a>
        </div>
        <div class="col-1">
          <a href="https://twitter.com/Natemysilva"><i class="fab fa-twitter-square fa-2x"></i></a>
        </div>
        <div class="col-1">
          <a href="https://www.instagram.com/nay.9907/"><i class="fab fa-instagram fa-2x"></i></a>
        </div>
      </div>
    </div>
  </nav>
  

    <section id="header-bg">
      <div class="container text-center">
      <div class="text-light">
        <h2>
          Welcome to my online portfolio!
        </h2>
      </div>
    </div>
  </section>