#header-bg {
    background-image: url("../../assets/header-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    /* width: 100vw; */
    height: 250px;

}

h2 {
    padding-top: 100px;
}