.row {
    color: white;
}
.header-bg {
    background-image: url("../../assets/header-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 250px;
}
h3 {
    padding: 100px 0px 100px 50px;
}